:root { 
	--login_border_color: #b4b4b4; 
	--login_box_background_color: rgba(242, 242, 225, 0.94); 
	--login_button_background_color: #252352;
}

.login_img_logo {
    width: 50%;
}

.login_quadro { /* outter */
	position: static;
	text-align: justify;
    width: 100%;
    height: 100%;
    padding:0;
}

.login_conteudo { /*inner*/
    position: absolute;
    width: 70%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgba(242, 242, 225, 0.9);
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.login_titulo {
	font-family: sans-serif;
	font-size: 8vh;
	font-weight: bold;
	text-align: center;
}

.login_subtitulo {
	font-family: sans-serif;
	font-size: 3vh;
	text-align: center;
}

.login_texto {
	font-family: sans-serif;
	font-size: 1.5vw;
	text-align: center;
	padding-top: 2vh;
}

.login_texto_peq {
	font-family: sans-serif;
	font-size: 1.2vw;
	text-align: center;
	padding-bottom: 1vh;
}

.login_botao {
	font-family: sans-serif;
	font-size: 1.5vw;
	color: white;
	text-align: center;
	width: 25%;
	background-color: var(--login_button_background_color);
	height: 5vh;
	border: 0;
	border-radius: 0.5vh;
	cursor: pointer;
	-webkit-appearance: none;
}

.login_input {
	font-family: sans-serif;
	font-size: 3vh;
	text-align: center;
	width: 70%;
	border-radius: 0.5vh;
	height: 5vh;
	border: 0;
	margin-top: 0.5vh;
	-webkit-appearance: none;
    opacity: 1 !important;
}

.login_email {
	font-family: sans-serif;
	font-size: 2vh;
	text-align: center;
	width: 70%;
	border-radius: 0.5vh;
	height: 5vh;
	border: 0;
	margin-top: 0.5vh;
	-webkit-appearance: none;
}

.login_copyright {
	font-family: sans-serif;
	font-size: 0.8vw;
	text-align: center;
	padding-top: 10.0vh;
}


form {
	font-family: sans-serif;
	text-align: center;
	color: black;
	width: 100%;
}

.login_body {
	background: url('../../common/img/main_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}