:root { 
	--fim_border_color: #b4b4b4; 
	--fim_box_background_color: #f2f2e1; 
	--fim_button_background_color: #252352;
}

.fim_img_logo {
    width: 70%;
}

.fim_quadro {
	position: fixed;
	padding: 15px;
	text-align: center;
	background-color: var(--fim_box_background_color);
	opacity: 0.9;
	left: 30%;
	right: 30%;
	top: 27%;
	bottom: 25%;
}

.fim_conteudo {
	position: fixed;
	padding: 15px;
	text-align: center;
	opacity: 1;
	left: 30%;
	right: 30%;
	top: 27%;
	bottom: 27%;
}

.fim_titulo {
	font-family: sans-serif;
	font-size: 8vh;
	font-weight: bold;
	text-align: center;
}

.fim_subtitulo {
	font-family: sans-serif;
	font-size: 3vh;
	text-align: center;
}

.fim_texto {
	font-family: sans-serif;
	font-size: 1.5vw;
	text-align: center;
	padding-top: 0.5vh;
}

.fim_texto_peq {
	font-family: sans-serif;
	font-size: 1.2vw;
	text-align: center;
	padding-bottom: 1vh;
}
.fim_copyright {
	font-family: sans-serif;
	font-size: 0.8vw;
	text-align: center;
	padding-top: 4.0vh;
}


.fim_botao {
	font-family: sans-serif;
	font-size: 1.5vw;
	color: white;
	text-align: center;
	width: 25%;
	background-color: var(--fim_button_background_color);
	height: 5vh;
	border: 0;
	border-radius: 0.5vh;
	cursor: pointer;
	-webkit-appearance: none;
}

.fim_input {
	font-family: sans-serif;
	font-size: 3vh;
	text-align: center;
	width: 70%;
	border-radius: 0.5vh;
	height: 5vh;
	border: 0;
	margin-top: 0.5vh;
	-webkit-appearance: none;
}

.fim_email {
	font-family: sans-serif;
	font-size: 2vh;
	text-align: center;
	width: 70%;
	border-radius: 0.5vh;
	height: 5vh;
	border: 0;
	margin-top: 0.5vh;
	-webkit-appearance: none;
}

form {
	font-family: sans-serif;
	text-align: center;
	color: black;
	width: 100%;
}

.fim_body {
	background: url('../../common/img/main_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}