:root { 
    --header_background_color: #2d4963;
    --header_text_color: #d8d8d8; 
    --header_icon_selected_color: cadetblue; 
    --header_icon_unselected_color: var(--header_background_color); 
    --header_text_font_family: sans-serif; 
    --header_profile_position: 80%;
}

.header {
	background-color: var(--header_background_color);
	
	position: fixed;
	width: 100%;
	height: 9vh;
	top: 0;
	left: 0;
	z-index: 3;
}
/*
 background: url(img_flower.jpg);
    background-size: 100px 80px;
    background-repeat: no-repeat;

*/

#header_img_logout {
	height: 60%;
	position: absolute;
	top: 0vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.header_logout {
	position: fixed;
	text-align: center;
	display: block;
	top: 2vh;
	left: 0;
	height: 7vh;
	width: 7vh;
	z-index: -1;
	border: 2px;
	background-color: var(--header_icon_unselected_color);
	transition: background-color 0.2s ease-in; /* vendorless fallback */
	-o-transition: background-color 0.2s ease-in; /* opera */
	-ms-transition: background-color 0.2s ease-in;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease-in; /* Firefox */
	-webkit-transition: background-color 0.2s ease-in;
	/*safari and chrome */
}

.header_logout:hover {
	top: 2vh;
	background-color: var(--header_icon_selected_color);
	transition: background-color 0.2s ease-in; /* vendorless fallback */
	-o-transition: background-color 0.2s ease-in; /* opera */
	-ms-transition: background-color 0.2s ease-in;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease-in; /* Firefox */
	-webkit-transition: background-color 0.2s ease-in;
	/*safari and chrome */
}

#header_img_home {
	height: 60%;
	position: absolute;
	top: 0vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.header_home {
	position: fixed;
	text-align: center;
	vertical-align: middle;
	top: 2vh;
	left: 7vh;
	height: 7vh;
	width: 7vh;
	z-index: -1;
	background-color: var(--header_icon_unselected_color);
	transition: background-color 0.2s ease; /* vendorless fallback */
	-o-transition: background-color 0.2s ease; /* opera */
	-ms-transition: background-color 0.2s ease;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease; /* Firefox */
	-webkit-transition: background-color 0.2s ease; /*safari and chrome */
}

.header_home:hover {
	background-color: var(--header_icon_selected_color);
	transition: background-color 0.2s ease; /* vendorless fallback */
	-o-transition: background-color 0.2s ease; /* opera */
	-ms-transition: background-color 0.2s ease;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease; /* Firefox */
	-webkit-transition: background-color 0.2s ease; /*safari and chrome */
}

.header_usuario {
	font-family: var(--header_text_font_family);
	font-size: 3vh;
	color: var(--header_text_color);
	left: var(--header_profile_position);
	top: 2.5vh;
	position: fixed;
	padding-right: 2vh;
}
/*   avaliado   */

.header_avaliado {
	position: fixed;
	text-align: center;
	vertical-align: middle;
	/*border: 1px solid white;*/
	top: 1.5vh;
	left: 15vh;
	height: 7vh;
	width: 7vh;
	z-index: -1;
	background-color: var(--header_icon_unselected_color);
	transition: background-color 0.2s ease; /* vendorless fallback */
	-o-transition: background-color 0.2s ease; /* opera */
	-ms-transition: background-color 0.2s ease;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease; /* Firefox */
	-webkit-transition: background-color 0.2s ease; /*safari and chrome */
}

.header_avaliado_nome {
	position: fixed;
	text-align: left;
	vertical-align: middle;
	/*border: 1px solid white;*/
	color: white;
	top: 6vh;
	left: 23vh;
	height: 3vh;
	width: auto;
	z-index: -1;

}

#header_img_avaliado{
	height: 56%;	
	position: absolute;
	top: 0vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

/* ================================ */

.header_aplicacao {
	text-align: left;
	font-family: var(--header_text_font_family);
	color: var(--header_text_color);
	position: fixed;
	top: 3.8vh;
	left: 16vh;
	padding-left: 0vh;
}
@media screen and (min-width: 900px) {
    .header_aplicacao {
        font-size: 3vh;
    }
}
@media screen and (max-width: 900px) {
    .header_aplicacao {
        display: none;
    }
}

.header_empresa {
	padding-right: 2vh;
	position: fixed;
	left: var(--header_profile_position);
	font-family: var(--header_text_font_family);
	font-size: 2vh;
	color: var(--header_text_color);
	top: 6vh;
}

.header_logo {
	position: fixed;
	left: 0;
	right: 0;
	height: 5vh;
	width: 50%;
	left: 25%;
	text-align: center;
	top: 3vh;
}