.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    height:30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.mb-3{
  margin-bottom: 1rem !important;
  width: 100%;
  padding: 10px;
  border-radius:  0.40rem;
  margin-top: 20px;

}


.labelTotal {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 5px;
    color: white;
    padding: 5px;
    height: 34%;
    font-size: 0.7em;
  }
  
  .hamburguer
  {
  font-size:5vh;
  cursor:pointer; 
  color:#ffffff;
  backgroud-color:#ffffff;
  }

  
  .logo{
    width: 30vh;
    display: block;
   margin: auto;
   margin-top: 20px;
}

.logo-text{
    width: 30vh;
    display: block;
    margin: auto;
    margin-top: 10px;
    color:#ffffff;
    
}

body {
	background-color: #000;
}

.header{
	position:fixed;
	top:0;
	width:100%;
	height:10%;
	backgroud-color:#ffffff;
	color:white;
	
}

.visibilidade
{
	 visibility: hidden;
	 display:none;
}
