.header{
    background-color: black;
    color: azure;
    position: fixed;
    width:100%;
    height: 7vh;
    top:0;
    left:0;
    z-index:3;
}
.borda_corpo{
    position: relative;
    top:7vh;
    z-index:2;
    padding: 15px;
    background-color: #b4b4b4;
    margin-left: 10vw;
    margin-right: 10vw;
}
.borda_corpo .corpo{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titulo{
    position:relative;
    top:-15px;
    padding-top: 2vh;
    background-color: #e8e8e8;
    height:3vh;
    color: black;
    font-family: sans-serif;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.interno{
    position:relative;
    top:-15px;
    padding-top: 2vh;
    background-color: #e8e8e8;
    height:3vh;
    color: black;
    font-family: sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.subtitulo{
    position:relative;
    top:-15px;
    padding-top: 2vh;
    background-color: #e8e8e8;
    height:5vh;
    color: black;
    font-family: sans-serif;
    font-size: 2vh;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}
.conteudo{
    position:relative;
    padding: 15px;
    text-align: justify;
    
}

body {
    background: url('fundo.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    font-family: sans-serif;
    font-size: 2vh;
}

.usuario{
    font-family: sans-serif;
    font-size: 3vh;
    right: 0;
    top:0.5vh;
    position: fixed;
    padding-right: 2vh;
}

.aplicacao{
    text-align: left;
    font-family: sans-serif;
    font-size: 3vh;
    position: fixed;
    top: 1.5vh;
    left: 0;
    padding-left: 2vh;
}

.empresa{
    padding-right: 2vh;
    position: fixed;
    right:0;
    font-family: sans-serif;
    font-size: 2vh;
    top: 4vh;
}

.logo{
    background: url('logo_vase.png') no-repeat center center fixed;; 
    left:0;
    right:0;
    width: 10vh;
    text-align: center;
    font-family: sans-serif;
    font-size: 4vh;
    top: 1vh;

}
