.logo{
    width: 200px;
    display: block;
   margin: auto;
   margin-top: 20px;
}

.logo-text{
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.main_titulo{
    text-align: center;
    color: white;
    font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 2vh;
}

.select_titulo{
    color: white;
    font-family: sans-serif;
	font-size: 1em;
	text-align: left;
	padding-top: 0.3vh;
}

#from-datepicker{
    background: rgba(255, 255, 255);
    color: black;
}

.custom-select, .input-horas, .form-control{
    background: rgb(255, 255, 255);
    color: black;
    
}

.input-horas{
    max-width: 100%;
    margin-left: 0;
}

.descricao{
    width: 100%;
}


.select_titulo_total{
    display: block;
    background: white;
    color: black;
    font-family: sans-serif;
	font-size: 20px;
    text-align: left;
    border-radius: 0.40rem;
    line-height: 1;
    margin: auto;
    padding: 13px;
    font-size: 1em;
}


.mb-3{
  margin-bottom: 1rem !important;
  width: 100%;
  padding: 10px;
  border-radius:  0.40rem;
  margin-top: 15px;

}


label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 5px;
    color: white;
    padding: 2px;
    height: 34%;
    font-size: 0.7em;
  }

  hr{
      background: white;
  }


.rodape{
    color: white;
}

