:root { 
    --admin_block_width: 45%; 
    --admin_text_color: #d8d8d8; 
    --admin_icon_selected_color: cadetblue; 
    --admin_icon_unselected_color: var(--admin_background_color); 
    --admin_text_font_family: sans-serif; 
    --admin_profile_position: 80%;
}

.admin_texto {
	font-family: sans-serif;
	font-size: 1.5vw;
	text-align: center;
	padding-top: 2vh;
    margin 0 auto;
    display: block;
}

.admin_texto_peq {
	font-family: sans-serif;
	font-size: 1vw;
	text-align: center;
	padding-top: 2vh;
}

.admin_combo_turma {
    display: block;
    position: static;
    border-radius: 0.8vh;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
	font-family: sans-serif;
	font-size: 1.5vw;
	text-align: left;
	padding: 1vh;
    width: 85%;
    margin: 0 auto;
}

.admin_list_unidades {
    display: block;
    position: static;
    border-radius: 0.8vh;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
	font-family: sans-serif;
	font-size: 1.5vw;
	text-align: left;
	padding: 1vh;
    width: 70%;
    margin: 0 auto;
}

.admin_input_descr_unidade{
	font-family: sans-serif;
	font-size: 2.5vh;
	text-align: left;
	width: 70%;
	border-radius: 0.8vh;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
	height: 5vh;
    padding-left: 10px;
}

.admin_input {
	font-family: sans-serif;
	font-size: 2.5vh;
	text-align: left;
	width: 85%;
	border-radius: 0.8vh;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
	height: 5vh;
    padding-left: 10px;
}

.admin_outter {
    position: static;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.admin_outter_salvar {
    position: static;
    text-align: center;
    width: 13vw;
    margin: 0 auto;
    height:8vh;
    padding: 3px;
    vertical-align: middle;
}

.admin_salvar {
    display: table-cell;
    position: static;
    text-align: center;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    width: 13vw;
    color: white;
    margin: 0 auto;
    font-size: 1.5vw;
    height: 4vw;
    padding: 3px;
    vertical-align: middle;
    
    background-color: #0e1d72;
    transition: background-color 0.2s ease-in; /* vendorless fallback */
	-o-transition: background-color 0.2s ease-in; /* opera */
	-ms-transition: background-color 0.2s ease-in;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease-in; /* Firefox */
	-webkit-transition: background-color 0.2s ease-in;
	/*safari and chrome */
    cursor: pointer;
}

.admin_salvar:hover {
	background-color: #4152b2;
	transition: background-color 0.2s ease; /* vendorless fallback */
	-o-transition: background-color 0.2s ease; /* opera */
	-ms-transition: background-color 0.2s ease;
	/* IE 10 betas, not needed in final build. */
	-moz-transition: background-color 0.2s ease; /* Firefox */
	-webkit-transition: background-color 0.2s ease; /*safari and chrome */
}

.admin_table {
    width:80%;
    text-align: left;
    left:100px;
}

.percentInput { position:relative; }
.percentInput span { position: absolute; right: 4px; top:2px; }
.num_percent { text-align: right; padding-right: 12px; }