.logo{
    width: 300px;
    display: block;
   margin: auto;
   margin-top: 20px;
}

.logo-text{
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.alinhamento-container{
    margin-top: 180px;
}

.icons{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}

.titulo-icon{
    margin-top: 15px;
    color: white;
    font-size: 1rem;
    text-align: center;
}

@media(max-width:991px){

    .logo{
        width: 250px;
        display: block;
       margin: auto;
       margin-top: 20px;
    }
    
    .logo-text{
        width: 150px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
      }
      

    .icons{
        width: 65px;
        height: 65px;
        display: block;
        border-radius: 50%;
    }
}


@media(max-width:495px){
    .logo{
        width: 200px;
        display: block;
       margin: auto;
       margin-top: 20px;
    }
    
    .logo-text{
        width: 150px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

        
    
        .container {
            width: 70%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
          }
        }
    
        @media(max-width:490px){
            .logo{
                width: 200px;
                display: block;
               margin: auto;
               margin-top: 20px;
            }
            
            .logo-text{
                width: 150px;
                display: block;
                margin: auto;
                margin-top: 10px;
            }
        
                
            
                .container {
                    width: 70%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 30px;
                  }
                }

                @media(max-width:414px){
                    .logo{
                        width: 200px;
                        display: block;
                       margin: auto;
                       margin-top: 20px;
                    }
                    
                    .logo-text{
                        width: 150px;
                        display: block;
                        margin: auto;
                        margin-top: 10px;
                    }
                
                        
                    
                        .container {
                            width: 90%;
                            padding-right: 15px;
                            padding-left: 15px;
                            margin-right: auto;
                            margin-left: auto;
                            margin-top: 30px;
                          }
                        }
            
    