body {
    background-color: black;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    color:azure;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.8s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.8s;
    cursor: pointer;
}

.sidenav label:hover, .offcanvas label:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.centro {
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    width: 80%;
    height:80%;
    min-width: 100px;
    text-align:left;
    margin: auto;
}
.logobmi {
    width: 100px;
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin:auto;
}
.logo {
    height: 40%;
    display: block;
    margin:auto;
    left: 0;
    right:0;
    text-align: center;
}
.bmi_label {
    font-size: 3vh;
    font-family:sans-serif;
    display:block;
    width:100%;
    text-align: left;
    color: azure;
}
.bmi_user_label {
    font-size: 2.5vh;
    font-family:sans-serif;
    color: azure;
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 10px;
    margin:auto;
}
.bmi_label_medium {
    font-size: 2vh;
    font-family:sans-serif;
    display:block;
    width:100%;
    text-align: center;
    height: 3vh;
    color: azure;
}
.bmi_label_small {
    font-size: 1vh;
    font-family:sans-serif;
    display:block;
    width:100%;
    text-align: center;
    height: 1vh;
    color: azure;
}
.bmi_input_text {
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    font-size: 5vh;
    behavior:url("border-radius.htc");
    border:1px solid #cccccc;
    width:50%;
    text-align: center;
    height: 8vh;
}
.bmi_button {
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    font-size: 3vh;
    behavior:url("border-radius.htc");
    border:1px solid #cccccc;
    width: 7vh;
    margin: 0 auto;
    height: 7vh;
    font-weight: bold;
}

.header {
    font-size: 1.3em;
    font-family:sans-serif;
    display:block;
    width:100%;
    text-align: center;
    color: floralwhite;
}

.rotate {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}